:root {
    --color-black: black;
    --color-white: white;
    --color-primary: #ff0000;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  @mixin media($breakpoint) {

    @if $breakpoint == mobile-1140 {
      @media only screen and (max-width: 71.25em) {
        @content;
        //1140px
      }
    }

    @if $breakpoint == mobile-981 {
      @media only screen and (max-width: 61.3125em) {
        @content;
        //981px
      }
    }

    @if $breakpoint == mobile-614 {
      @media only screen and (max-width: 38.375em) {
        @content;
        //614px
      }
    }

    @if $breakpoint == mobile-567 {
      @media only screen and (max-width: 35.4375em) {
        @content;
        //567px
      }
    }

    @if $breakpoint == mobile-410 {
      @media only screen and (max-width: 25.625em) {
        @content;
        //410px
      }
    }

    @if $breakpoint == mobile-325 {
      @media only screen and (max-width: 20.3125em) {
        @content;
        //325px
      }
    }
  
  }
  
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; // That way 1 rem = 10px.
    overflow-x: hidden;
    height: auto;
    overflow: hidden;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: black;
  }