.App {
    position: relative;
}

.container {
    max-width: 1500px;
    position: relative;
}

.align-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}

.home {
    position: relative;
    min-width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(90%); // Otherwise i cant see the text correctly.
}

.recommended {
    min-width: 100vw;
    height: 100vh;
    padding: 8rem 0;
}

.home-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-height: 93vh;
    background-size: cover;
}

.nav {
    display: flex;
    padding-top: 2.5rem;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    align-items: flex-end;
    z-index: 10;
}

.links-right {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    z-index: 10;
}

.profile-section:hover + .profile-section-hover {
    opacity: 1;
    visibility: visible;
}

.profile-section-hover {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 3.3rem;
    top: 7rem;
    background-color: white;
    padding: 1.1rem 1.1rem 0.5rem 1.1rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    transition: all .3s linear;
    z-index: 9999;

    &:hover {
        opacity: 1;
        visibility: visible;
    }
}

.triangle-up {
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateY(-.6rem);
    height: 0;
    width: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid white;
    border-radius: 1rem;
}

.movie-info-box {
    color: white;
}

.featured-movie-buttons {
    display: flex;
    margin-top: 2rem;
}

.featured-movie-resume-box {
    font-family: "Montserrat";
    font-size: 1.8rem;
    color: white;
    z-index: 10;
    max-width: 55rem;
    margin-top: 2.5rem;
}

.flex-four {
    display: flex;
    flex-wrap: wrap;
}

.coming-soon-movie-box {
    position: relative;
    flex: 1 0 21%;
    max-width: 33.5rem;
    max-height: 45rem;
    margin-bottom: 8rem;
    margin-right: 3rem;
    object-fit: cover;
}

.coming-soon-movie-box:hover .hover-items {
    opacity: 1;
}

.popular-movie-box {
    height: 50rem;
    max-height: none;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

.fade-shadow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;  
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9) 50%);
    outline: none;
}

.fade-shadow-alt {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,1) 90%);
}

.engagement-buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 0;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(70%);
    transition: all .3s linear;

    &:hover {
        filter: brightness(100%);
    }
}

.play-button-alt {
    position: relative;
    display: inline-block;
    margin-bottom: -1rem;
    left: 2rem;
}

.movie-info {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}

.general-info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    line-height: 0;
}

.hover-items {
    opacity: 0;
    transition: all .2s linear;
    &:hover {
        cursor: pointer;
    }
}

.like-button-container {
    position: absolute;
    bottom: 9rem;
    right: .5rem;
}

.down-arrow-big-alt {
    display: flex;
    justify-content: center;
    min-width: 100%;
    transform: translateY(-3.5rem);
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 3rem 3.5rem;
    border-radius: 1rem;
}

.dropzone {
    border: 2px #9b9b9b dashed;
    border-radius: 1rem;
    padding: 4rem 14.8rem;

    &:hover {
        cursor: pointer;
    }
}

.modal-input-container {
    position: relative;
    flex: 1 0 45%;
    margin-top: 3rem;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.4rem;
}

.modal-input-category-expanded {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 3rem;
    transform: translateX(-.5px);
    display: flex;
    flex-direction: column;
    width: 101%;
    z-index: 10;
    padding: 5px 30px 15px 20px;
    border-radius: 1rem;
    background-color: white;
    color: #9b9b9b;
    font-size: 1.6rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    max-height: 26rem;
    overflow-y: auto;
    transition: all .3s linear;
}