@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #ff0000; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-color: black; }

.featured-img {
  height: 88vh;
  width: 100%;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(to top, from(rgba(0, 0, 0, 0)), to(black));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black); }

.featured-img-shadow {
  position: absolute;
  top: 0;
  height: 93vh;
  width: 100vw;
  background-image: linear-gradient(to top, transparent 77%, rgba(0, 0, 0, 0.8));
  outline: none; }

.logo {
  margin-right: 2rem;
  z-index: 10;
  filter: brightness(90%);
  transition: all .2s linear; }
  .logo:hover {
    cursor: pointer;
    filter: brightness(100%); }

.link {
  position: relative;
  font-family: "Montserrat";
  font-size: 1.4rem;
  color: white;
  margin-right: 1.8rem;
  margin-top: -.35rem;
  transition: all .2s linear; }
  .link:hover {
    cursor: pointer;
    transform: translateY(-0.2rem); }

.active {
  font-weight: 700; }

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  transform: translateY(0.8rem); }

.notification-active {
  position: absolute;
  top: 22.5%;
  right: 0;
  height: .7rem;
  width: .7rem;
  border-radius: 50%;
  background-color: var(--color-primary); }

.profile-picture {
  margin-right: 1rem; }

.profile-section {
  transform: translateY(0.3rem); }

.featured-title {
  font-family: "Montserrat";
  font-size: 2.4rem;
  color: white;
  z-index: 10; }

.bold {
  font-weight: 700; }

.featured-movie-name {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 11rem;
  max-width: 40rem;
  line-height: 9rem;
  margin-top: 1.8rem; }

.featured-movie-btn {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 15.5rem;
  padding-right: 5rem;
  padding-left: 1.2rem;
  border-radius: 10rem;
  margin-right: 3rem;
  font-size: 1.6rem;
  font-family: "Montserrat";
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  z-index: 10;
  transition: all .2s; }
  .featured-movie-btn:focus, .featured-movie-btn:active {
    outline: none; }
  .featured-movie-btn:hover {
    transform: translateY(-0.3rem); }

.featured-movie-icon {
  margin-right: 0.6rem; }

.featured-movie-title-small {
  font-weight: 700;
  z-index: 10; }

.featured-movie-text {
  font-weight: 400;
  z-index: 10; }

.coming-soon-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white; }

.coming-soon-img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.popular-title {
  margin-bottom: .9rem; }

.popular-movie-img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.like {
  height: 1.5rem;
  width: 1.5rem; }

.like-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: white 1px solid;
  height: 3.2rem;
  width: 3.2rem; }

.engagement-btn {
  margin-right: 1rem;
  filter: brightness(70%);
  transition: all .3s linear; }
  .engagement-btn:hover {
    filter: brightness(100%); }

.movie-info-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  line-height: 2.5rem; }

.general-info-margin {
  margin-right: 1rem; }

.age-restriction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.6rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem; }

.genre {
  font-size: 1.3rem;
  color: white; }

.movie-info-down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 4rem); }

.container {
  max-width: 1500px; }

.home {
  background-image: url("./images/destacada-demo-img.jpeg");
  min-width: 100vw;
  max-height: 93vh;
  background-size: cover;
  background-repeat: no-repeat; }

.nav {
  display: flex;
  padding-top: 2.5rem; }

.flex {
  display: flex; }

.links {
  display: flex;
  align-items: flex-end;
  z-index: 10; }

.links-right {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  z-index: 10; }

.movie-info-box {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 11rem; }

.featured-movie-buttons {
  display: flex;
  margin-top: 2rem; }

.featured-movie-resume-box {
  font-family: "Montserrat";
  font-size: 1.8rem;
  color: white;
  z-index: 10;
  max-width: 55rem;
  margin-top: 2.5rem; }

.coming-soon-box {
  margin-top: 10.8rem; }

.flex-four {
  display: flex;
  flex-wrap: wrap; }

.coming-soon-movie-box {
  position: relative;
  flex: 1 0 21%;
  margin-bottom: 8rem;
  margin-right: 3rem; }

.coming-soon-movie-box:hover .hover-items {
  opacity: 1; }

.popular-movie-box {
  height: 68rem;
  background-repeat: no-repeat;
  margin-bottom: 4rem; }

.fade-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9) 50%);
  outline: none; }

.engagement-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 0; }

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(70%);
  transition: all .3s linear; }
  .play-button:hover {
    filter: brightness(100%); }

.movie-info {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem; }

.general-info {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  line-height: 0; }

.hover-items {
  opacity: 0;
  transition: all .3s linear; }
  .hover-items:hover {
    cursor: pointer; }
