@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #ff0000; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-color: black; }

.featured-img {
  height: 88vh;
  width: 100%;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(to top, from(rgba(0, 0, 0, 0)), to(black));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black); }

.featured-img-shadow {
  position: absolute;
  top: 0;
  height: 93vh;
  width: 100vw;
  background-image: linear-gradient(to top, transparent 77%, rgba(0, 0, 0, 0.8));
  outline: none; }

.popup-shadow {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
  z-index: 9998; }

.logo {
  margin-right: 2rem;
  z-index: 10;
  filter: brightness(90%);
  transition: all .2s linear; }
  .logo:hover {
    cursor: pointer;
    filter: brightness(100%); }

.link {
  position: relative;
  font-family: "Montserrat";
  font-size: 1.4rem;
  color: white;
  margin-right: 1.8rem;
  margin-top: -.35rem;
  transition: all .2s linear; }
  .link:hover {
    cursor: pointer;
    transform: translateY(-0.2rem); }

.active {
  font-weight: 700; }

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  transform: translateY(0.8rem);
  z-index: 1000; }

.add-movie-container:hover .hover-btn {
  opacity: 1; }

.hover-btn {
  opacity: 0;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  padding-left: 3rem;
  padding-right: 2rem;
  height: 3.5rem;
  transform: translate(-3rem, 0.8rem);
  background-color: var(--color-primary);
  transition: all .2s linear; }

.notification-active {
  position: absolute;
  top: 22.5%;
  right: 0;
  height: .7rem;
  width: .7rem;
  border-radius: 50%;
  background-color: var(--color-primary); }

.profile-picture {
  margin-right: 1rem; }

.profile-section {
  transform: translateY(0.3rem); }
  .profile-section:hover {
    transform: translateY(0.3rem); }

.user {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  padding: .6rem;
  border-radius: 1.8rem;
  color: #9b9b9b;
  transition: all .2s linear; }
  .user:hover {
    cursor: pointer;
    color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.user-active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: black; }

.option {
  margin: .6rem 0; }
  .option:hover {
    cursor: pointer; }

.hr {
  margin: 0; }

.featured-title {
  font-family: "Montserrat";
  font-size: 2.4rem;
  color: white;
  z-index: 10;
  max-width: 40rem; }

.bold {
  font-weight: 700; }

.featured-movie-name {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 11rem;
  max-width: 80rem;
  line-height: 9rem;
  margin-top: 1rem;
  margin-bottom: 4rem; }

.featured-movie-btn {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 15.5rem;
  padding-right: 5rem;
  padding-left: 1.2rem;
  border-radius: 10rem;
  margin-right: 3rem;
  font-size: 1.6rem;
  font-family: "Montserrat";
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  z-index: 10;
  transition: all .2s; }
  .featured-movie-btn:focus, .featured-movie-btn:active {
    outline: none; }
  .featured-movie-btn:hover {
    transform: translateY(-0.3rem); }

.featured-movie-icon {
  margin-right: 0.6rem; }

.featured-movie-title-small {
  font-weight: 700;
  z-index: 10; }

.featured-movie-text {
  font-weight: 400;
  z-index: 10; }

.coming-soon-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white; }

.coming-soon-img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.popular-title {
  margin-bottom: .9rem; }

.popular-movie-img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.like {
  height: 1.5rem;
  width: 1.5rem; }

.like-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: white 1px solid;
  height: 3.2rem;
  width: 3.2rem; }

.engagement-btn {
  margin-right: 1rem;
  filter: brightness(70%);
  transition: all .3s linear; }
  .engagement-btn:hover {
    filter: brightness(100%); }

.movie-info-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  line-height: 2.5rem; }

.general-info-margin {
  margin-right: 1rem; }

.age-restriction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.6rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem; }

.genre {
  font-size: 1.3rem;
  color: white; }

.genre-alt {
  margin-bottom: 3rem; }

.movie-info-down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 4rem); }

.match {
  color: white;
  font-size: 1.3rem; }

.clip {
  margin-right: .7rem; }

.dropzone-text {
  font-size: 1.6rem;
  color: #9b9b9b; }

.dropzone-text-highlight {
  font-weight: 700;
  color: #0076ff; }

.modal-input-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #9b9b9b;
  letter-spacing: .5rem; }

.modal-input {
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px black solid;
  font-size: 1.6rem;
  color: black;
  font-weight: 500;
  outline: none;
  transition: all .2s linear; }
  .modal-input:focus {
    border-bottom: 1px #0076ff solid; }

.modal-input-option {
  color: transparent;
  text-shadow: 0 0 0 black;
  z-index: 20; }
  .modal-input-option:hover {
    cursor: pointer; }

.modal-btn {
  font-size: 1.6rem;
  color: white;
  padding: 2.5rem 12rem;
  border: none;
  border-radius: 10rem;
  background-color: black;
  transition: all .2s linear; }
  .modal-btn:hover {
    transform: translateY(-0.2rem); }
  .modal-btn:active {
    outline-color: transparent; }
  .modal-btn:focus {
    outline-color: transparent; }

.modal-btn-disabled {
  background-color: #dedede; }

.cross {
  font-size: 2.75rem;
  line-height: .7rem;
  width: 1.5rem;
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  transition: all .2s linear; }
  .cross:hover {
    cursor: pointer;
    transform: rotate(-90deg); }

.category-hr {
  color: #cccccc;
  margin: .9rem 0; }

.category-name {
  transition: all .2s linear; }
  .category-name:hover {
    color: black;
    cursor: pointer; }

.App {
  position: relative; }

.container {
  max-width: 1500px;
  position: relative; }

.align-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh; }

.home {
  position: relative;
  min-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(90%); }

.recommended {
  min-width: 100vw;
  height: 100vh;
  padding: 8rem 0; }

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  max-height: 93vh;
  background-size: cover; }

.nav {
  display: flex;
  padding-top: 2.5rem; }

.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-center {
  display: flex;
  align-items: center; }

.links {
  display: flex;
  align-items: flex-end;
  z-index: 10; }

.links-right {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  z-index: 10; }

.profile-section:hover + .profile-section-hover {
  opacity: 1;
  visibility: visible; }

.profile-section-hover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 3.3rem;
  top: 7rem;
  background-color: white;
  padding: 1.1rem 1.1rem 0.5rem 1.1rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  transition: all .3s linear;
  z-index: 9999; }
  .profile-section-hover:hover {
    opacity: 1;
    visibility: visible; }

.triangle-up {
  position: absolute;
  top: 0;
  right: 2rem;
  transform: translateY(-0.6rem);
  height: 0;
  width: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1rem solid white;
  border-radius: 1rem; }

.movie-info-box {
  color: white; }

.featured-movie-buttons {
  display: flex;
  margin-top: 2rem; }

.featured-movie-resume-box {
  font-family: "Montserrat";
  font-size: 1.8rem;
  color: white;
  z-index: 10;
  max-width: 55rem;
  margin-top: 2.5rem; }

.flex-four {
  display: flex;
  flex-wrap: wrap; }

.coming-soon-movie-box {
  position: relative;
  flex: 1 0 21%;
  max-width: 33.5rem;
  max-height: 45rem;
  margin-bottom: 8rem;
  margin-right: 3rem;
  object-fit: cover; }

.coming-soon-movie-box:hover .hover-items {
  opacity: 1; }

.popular-movie-box {
  height: 50rem;
  max-height: none;
  background-repeat: no-repeat;
  margin-bottom: 4rem; }

.fade-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9) 50%);
  outline: none; }

.fade-shadow-alt {
  background-image: linear-gradient(to bottom, transparent, black 90%); }

.engagement-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 0; }

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(70%);
  transition: all .3s linear; }
  .play-button:hover {
    filter: brightness(100%); }

.play-button-alt {
  position: relative;
  display: inline-block;
  margin-bottom: -1rem;
  left: 2rem; }

.movie-info {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem; }

.general-info {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  line-height: 0; }

.hover-items {
  opacity: 0;
  transition: all .2s linear; }
  .hover-items:hover {
    cursor: pointer; }

.like-button-container {
  position: absolute;
  bottom: 9rem;
  right: .5rem; }

.down-arrow-big-alt {
  display: flex;
  justify-content: center;
  min-width: 100%;
  transform: translateY(-3.5rem); }

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 3rem 3.5rem;
  border-radius: 1rem; }

.dropzone {
  border: 2px #9b9b9b dashed;
  border-radius: 1rem;
  padding: 4rem 14.8rem; }
  .dropzone:hover {
    cursor: pointer; }

.modal-input-container {
  position: relative;
  flex: 1 0 45%;
  margin-top: 3rem; }

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.4rem; }

.modal-input-category-expanded {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 3rem;
  transform: translateX(-0.5px);
  display: flex;
  flex-direction: column;
  width: 101%;
  z-index: 10;
  padding: 5px 30px 15px 20px;
  border-radius: 1rem;
  background-color: white;
  color: #9b9b9b;
  font-size: 1.6rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  max-height: 26rem;
  overflow-y: auto;
  transition: all .3s linear; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-right-3 {
  margin-right: 3rem; }
